.show-champs
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 600px;
        h1 {
            font-family: $font-body;
            text-align: center;
            span {
                display: block;
            }

            span:first-child {
                font-size: 2rem;
                color: $color-font-body;
            }

            span:last-child {
                font-size: 2rem;
                color: $color-font-title;
            }
        }
        p{
            text-align: justify;
        }

    }
    &-grid{
        margin: 1rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 600px;
        gap: 1rem;
        @media (max-width: 480px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &-row{
        margin: 1rem;
        display: grid;
        grid-template-rows: repeat(1, 600px);
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
        @media (max-width: 480px) {
            grid-template-rows: repeat(5, 600px);
            grid-template-columns: repeat(1, 1fr);
        }        
    }    
    h1
    {
        font-size: 3rem;
        color: #ffffff;
        font-family: $font-body;
    }    
    h2
    {
        font-size: 3rem;
    }      
    &-box{
        background-color: rgba($color: #000000, $alpha: 0.75);
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
    }
    &-image{
        height: 55%;
        width: 100%;
        img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;       
        object-position: top center; 
        }        
        padding: 0.5rem;
    }
    &-description
    {
        height: 45%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        p{
            text-align: justify;
            color: $color-font-body;
            font-size: 0.8rem;
        }
        p strong{
            font-size: 1rem;
            line-height: 1.5;
            color: $color-font-title;
        }
        padding: 0.5rem;
    }
    &-graphs{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        img{
            width: 64px;
            height: auto;
        }
    }
}


.show-comics
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-title {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 600px;
        h1 {
            font-family: $font-body;
            text-align: center;
            span {
                display: block;
            }

            span:first-child {
                font-size: 2rem;
                color: $color-font-body;
            }

            span:last-child {
                font-size: 2rem;
                color: $color-font-title;
            }
        }
        p{
            text-align: justify;
        }

    }    
    &-grid{
        margin: 1rem;
        display: grid;
        grid-template-rows: repeat(3, 390px);
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        @media (max-width: 480px)
        {
            grid-template-rows: repeat(12, 450px);
            grid-template-columns: repeat(1, 1fr);
        }
    }
    &-card
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;     
        // outline: 1px solid $color-font-title;
        background-color: rgba($color: #000000, $alpha: 0.75);
        border-radius: 5px;
        img{
            width: 100%;
        }
        p
        {
            padding: 1rem;
            padding-top: 0px;
            text-align: justify;
            font-size: 0.8rem;
            margin: 0px;
            height: 90px;
        }
        h2
        {
            padding-top: 1rem;            
            font-size: 1rem;
            margin: 0px;
        }
        @media (max-width: 480px)
        {
            p{
                padding: 1rem;
            }
        }        
    }
}

.show-wallpapers
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &-card
    {
        padding: 1rem;
        display: flex;
        direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba($color: #000000, $alpha: 0.75);
    }
    &-title {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 600px;
        h1 {
            font-family: $font-body;
            text-align: center;
            span {
                display: block;
            }

            span:first-child {
                font-size: 2rem;
                color: $color-font-body;
            }

            span:last-child {
                font-size: 2rem;
                color: $color-font-title;
            }
        }
        p{
            text-align: justify;
        }

    }        
}
